.primeNumber p {
    background: linear-gradient(90deg, hsl(120, 100%, 25%), hsl(120, 91%, 14%));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 1.3rem;
    margin-top: 1rem;
}